<div class="login container center m-3 p-3">
    <form action="/login" method="post">
    <div>
        <div>
            <label for="login">Enter Your Username</label>
        </div>
        <div>
            <input type="text" name="usertxt" id="usertx">
        </div>
    </div>
    <div>
        <input type="submit" name="login" value="Enter">
    </div></form>
</div>