<div class="order container center m-3 p-3">
    <form action="/" method="get">
    <div class="carttable ">
        <table class="center">
            <thead class="order_head">
                <tr >
                    <td>Status</td>
                    <td>Amont</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Paid</td>
                    <td>R35</td>
                    <td><input class="orderbtn" type="submit" value="Collect"></td>
                </tr>
            </tbody>
        </table>
    </div>
   </form>
</div>