<div class="order container center m-3 p-3">
    <form action="/orderaction/59" method="post">
    <div class="carttable ">
        <table class="center">
            <thead class="order_head">
                <tr >
                    <td>Id</td>
                    <td>Amont</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
        
                    <td>{{order_id}}</td>
                    <td>{{payment}}</td>
                    <td ><input {{hide}} class="orderbtn" name="orderbtn" type="submit" value="{{@root.pays}}"></td>
                </tr>
                {{/each}}
            </tbody>
            
        </table>
    </div>
   </form>
</div>